body{
    font-family: 'Poppins', sans-serif;

}
.text-border{

    font-size: 50px;
    border-left: 4px solid red;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 5px;
}
.my-mission{
    text-align: center;
}
.flexible-container{
    display: flex;
}
.half-width1{
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: palegreen;
    border-radius: 5px;
    box-shadow: 10px 10px 10px gray;
}
.half-width2{
    width: 30%;
    background-color: peachpuff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px gray;
}
.half-width3{
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: hotpink;
    border-radius: 5px;
    box-shadow: 1opx 10px 10px gray;
}
.link-button{
    text-decoration: none;
    background-color: hotpink;
    border-radius: 5px;
padding: 10px 40px;
font-weight: 700;
}
.develop-unlimited{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.global-community{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
}